@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Roboto' sans-serif; }

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto; }

.header {
  background-color: #f9c62f;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 1111;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .header .header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; }
  .header .header__item {
    padding: 20px;
    font-size: 18px;
    line-height: 21px; }
  .header .header__link {
    text-decoration: none;
    color: #000; }

.other__page__header {
  background-color: #fff; }

@media (max-width: 850px) {
  .header__menu, .header__list {
    display: none !important; } }

.about h2 {
  color: #e35205;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  padding-top: 100px; }

.about p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  padding-top: 30px;
  text-align: justify;
  letter-spacing: 0.01em;
  color: #555555; }

.about .partners {
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; }
  .about .partners h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.6em;
    color: #e35205;
    padding-bottom: 0px;
    margin: 60px 0px; }
  .about .partners .arrow__buttons {
    display: flex;
    margin-bottom: 10px; }
    .about .partners .arrow__buttons .left,
    .about .partners .arrow__buttons .right {
      width: 50px;
      height: 50px;
      box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .about .partners .arrow__buttons .dots {
      display: flex;
      align-items: center; }
      .about .partners .arrow__buttons .dots .dot {
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        margin: 0px 10px;
        background-color: #e35205; }
      .about .partners .arrow__buttons .dots .active {
        width: 8px;
        height: 8px;
        border-radius: 4px; }
  .about .partners .carousel {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .about .partners .carousel .partners__cards {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 130%;
      left: 0.5rem;
      transform: translateY(-50%);
      transition: all 0.5s ease-out; }
      .about .partners .carousel .partners__cards__item {
        filter: grayscale(60%);
        box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
        border-radius: 35px;
        width: 146px;
        filter: grayscale(60%);
        box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
        padding: 0.2rem;
        margin-right: 5.05rem;
        display: flex;
        justify-content: center;
        align-items: center; }

.about__page__partners {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px; }
  .about__page__partners h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.6em;
    color: #e35205;
    padding-bottom: 0px;
    margin: 60px 0px; }
  .about__page__partners .about__page__partners__cards {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(6, 1fr); }
    .about__page__partners .about__page__partners__cards .partners__cards__item {
      width: 146px;
      filter: grayscale(60%);
      box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
      border-radius: 35px;
      filter: grayscale(60%);
      box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
      padding: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center; }

@media (max-width: 1300px) {
  .about__page__partners__cards {
    grid-template-columns: repeat(4, 1fr) !important; } }

@media (max-width: 870px) {
  .about__page__partners__cards {
    grid-template-columns: repeat(3, 1fr) !important; } }

@media (max-width: 660px) {
  .about__page__partners__cards {
    grid-template-columns: repeat(2, 1fr) !important; } }

@media (max-width: 460px) {
  .about__page__partners__cards {
    gap: 20px !important; } }

.first-page {
  height: 100vh;
  background-color: #f9c72f;
  display: flex;
  align-items: center;
  justify-content: center; }
  .first-page img {
    display: block;
    width: 50%; }

.courses {
  margin-bottom: 90px; }
  .courses__header h2 {
    color: #e35205;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    padding-top: 100px; }
  .courses__header p {
    color: #5e8ab4;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 20px; }
  .courses .laboratores__container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: repeat(2, 1fr); }
    .courses .laboratores__container .laboratores__item {
      box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
      border-radius: 35px;
      height: 250px;
      display: flex;
      align-items: flex-end;
      justify-content: center; }
      .courses .laboratores__container .laboratores__item span {
        text-align: center;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        margin-bottom: 40px;
        color: #e35205; }

.courses__page__color {
  color: #A0072B !important; }

@media (max-width: 600px) {
  .laboratores__container {
    grid-template-columns: repeat(1, 1fr) !important; } }

.news .news__item__container {
  display: grid;
  grid-gap: 0px 10px;
  grid-template-columns: repeat(3, 1fr); }
  .news .news__item__container .news__item {
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px; }
    .news .news__item__container .news__item img {
      width: 100%; }

.news h2 {
  color: #e35205;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  padding-top: 40px; }

.news__page__header {
  padding-top: 80px; }
  .news__page__header h2 {
    color: #A0072B;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    padding-top: 40px; }
  .news__page__header p {
    color: #5e8ab4;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 20px; }

.news__page__item__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 200px; }
  .news__page__item__container h4 {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #A0072B; }
  .news__page__item__container p {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    padding: 0px 5px;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #555555; }

.news__page__item {
  background: #FFFFFF;
  box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
  border-radius: 35px; }
  .news__page__item .item__img {
    width: 100%; }

@media (max-width: 1000px) {
  .news__page__item__container {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 580px) {
  .news__page__item__container {
    grid-template-columns: repeat(1, 1fr); }
  .news__page__header h2 {
    font-size: 35px; }
  .news__page__header p {
    font-size: 20px; }
  .news__page__item__container h4 {
    font-size: 25px; } }

.footer-container {
  background-color: #3c3032;
  padding-top: 72px;
  color: rgba(255, 255, 255, 0.5); }
  .footer-container .contacts {
    display: flex; }
    .footer-container .contacts h3 {
      font-style: normal;
      font-weight: 900;
      font-size: 35px;
      line-height: 41px;
      color: #ffffff;
      padding-bottom: 10px; }
    .footer-container .contacts .links {
      display: flex;
      flex-direction: column; }
      .footer-container .contacts .links__item {
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
        .footer-container .contacts .links__item a {
          color: rgba(255, 255, 255, 0.5);
          text-decoration: none;
          font-size: 18px; }
    .footer-container .contacts .addres {
      margin-right: 100px;
      display: flex;
      flex-direction: column; }
      .footer-container .contacts .addres p {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
        margin-bottom: 20px; }
      .footer-container .contacts .addres .follow__us {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 20px;
        color: #ffffff; }
      .footer-container .contacts .addres .social-media {
        margin-bottom: 20px; }
      .footer-container .contacts .addres img {
        margin-right: 10px; }
      .footer-container .contacts .addres .email-field {
        padding: 8px 0px 8px 20px;
        border-radius: 35px;
        background-color: #DADADA;
        color: black;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 29px; }
  .footer-container .footer {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.01em;
    border-top: 1px solid rgba(255, 255, 255, 0.5); }
    .footer-container .footer p {
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: center; }

@media (max-width: 660px) {
  .contacts {
    flex-direction: column; }
    .contacts h3 {
      font-size: 30px !important; }
    .contacts .email-field {
      margin-bottom: 50px; }
    .contacts .follow__us {
      font-size: 16px !important; }
    .contacts .email-field {
      padding: 3px 0px 3px 10px !important; }
  img {
    margin-right: 0.1px !important; } }

.title-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; }
  .title-section .part1 {
    margin-top: 120px;
    margin-left: 70px;
    background: #ffffff;
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px; }
    .title-section .part1__container {
      max-width: 1160px;
      padding: 0 10px;
      margin: 0 auto; }
    .title-section .part1 h2 {
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 70px;
      color: #a0072b; }
    .title-section .part1 p {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      text-align: justify;
      letter-spacing: 0.01em;
      color: #555555; }
    .title-section .part1 .imges {
      text-align: center;
      margin-top: 90px;
      width: 100%; }
  .title-section .part2 {
    margin-top: 80px;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; }
    .title-section .part2 p {
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      padding: 0px 5px;
      text-align: justify;
      letter-spacing: 0.01em;
      color: #555555; }
    .title-section .part2 .news__carousel {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .title-section .part2 .news__carousel__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0.5rem;
        transform: translateY(-50%);
        transition: all 0.5s ease-out; }
        .title-section .part2 .news__carousel__cards__item {
          width: 400px;
          background: #ffffff;
          box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
          border-radius: 35px;
          font-weight: 900;
          font-size: 30px;
          line-height: 35px;
          color: #a0072b;
          margin-right: 25px; }
          .title-section .part2 .news__carousel__cards__item .carousel__item_img {
            width: 400px; }
        .title-section .part2 .news__carousel__cards p {
          font-weight: 300;
          font-size: 18px;
          line-height: 32px;
          padding: 0px 5px;
          text-align: justify;
          letter-spacing: 0.01em;
          color: #555555; }
    .title-section .part2 .news__carousel__arrow__buttons {
      display: flex;
      margin-bottom: 40px;
      margin-top: 40px; }
      .title-section .part2 .news__carousel__arrow__buttons .news__carousel__left, .title-section .part2 .news__carousel__arrow__buttons .news__carousel__right {
        width: 50px;
        height: 50px;
        box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center; }
      .title-section .part2 .news__carousel__arrow__buttons .news__carousel__dots {
        display: flex;
        align-items: center; }
        .title-section .part2 .news__carousel__arrow__buttons .news__carousel__dots .news__carousel__dot {
          width: 5px;
          height: 5px;
          border-radius: 2.5px;
          margin: 0px 10px;
          background-color: #e35205; }
        .title-section .part2 .news__carousel__arrow__buttons .news__carousel__dots .news__carousel__dot__active {
          width: 8px;
          height: 8px;
          border-radius: 4px; }

.icons {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .icons__header p {
    margin-right: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.6em;
    color: #614541;
    padding-bottom: 15px; }
  .icons .icons__item {
    margin-bottom: 70px; }
    .icons .icons__item img {
      margin-right: 5px;
      margin-bottom: 5px; }

@media (max-width: 800px) {
  .part1 h2 {
    font-size: 50px !important; } }

@media (max-width: 650px) {
  .part1 h2 {
    font-size: 35px !important; } }

@media (max-width: 450px) {
  .part1 h2 {
    font-size: 25px !important; }
  .part1 .imges img {
    width: 100%; } }

.laboratory_container {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .laboratory_container .laboratory {
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
    padding: 10px;
    margin-bottom: 350px; }
    .laboratory_container .laboratory h2 {
      color: #a0072b;
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 70px; }
    .laboratory_container .laboratory p {
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      padding: 0px 5px;
      text-align: justify;
      letter-spacing: 0.01em;
      color: #555555; }
    .laboratory_container .laboratory h4 {
      font-weight: 900;
      font-size: 30px;
      line-height: 24px;
      color: #a0072b;
      margin-top: 40px; }
    .laboratory_container .laboratory .conditions__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px; }
      .laboratory_container .laboratory .conditions__item img {
        width: 400px;
        height: 400px; }
      .laboratory_container .laboratory .conditions__item .property {
        color: #000; }
    .laboratory_container .laboratory .teachers__item {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .laboratory_container .laboratory .teachers__item h5 {
        margin-bottom: 20px; }

.contact-us-container {
  padding-top: 150px;
  text-align: center; }
  .contact-us-container .contact-us {
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
    padding: 10px;
    margin-bottom: 150px; }
    .contact-us-container .contact-us h2 {
      color: #a0072b;
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 70px; }
    .contact-us-container .contact-us p {
      display: inline-block;
      font-weight: 300;
      font-size: 25px;
      line-height: 32px;
      padding: 0px 5px;
      text-align: justify;
      letter-spacing: 0.06em;
      color: #555555; }
    .contact-us-container .contact-us .input__field {
      margin-top: 60px; }
      .contact-us-container .contact-us .input__field .name-email {
        margin-top: 20px; }
        .contact-us-container .contact-us .input__field .name-email input {
          width: 48%;
          padding: 10px;
          margin-right: 20px;
          box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.15);
          border-radius: 35px;
          margin-bottom: 40px; }
      .contact-us-container .contact-us .input__field .message {
        width: 97.9%;
        padding: 10px;
        padding-bottom: 70px;
        background: #ffffff;
        box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.15);
        border-radius: 35px; }
      .contact-us-container .contact-us .input__field button {
        background-color: #A0072B;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        padding: 10px 120px;
        margin-top: 40px;
        margin-bottom: 40px;
        border: none;
        color: white; }
  .contact-us-container .map {
    margin-bottom: 150px; }
