.footer-container {
    background-color: #3c3032;
    padding-top: 72px;
    color: rgba(255, 255, 255, 0.5);
    .contacts {
        display: flex;
        h3 {
            font-style: normal;
            font-weight: 900;
            font-size: 35px;
            line-height: 41px;
            color: #ffffff;
            padding-bottom: 10px;
        }

        .links {
            display: flex;
            flex-direction: column;
            &__item {
                margin-bottom: 20px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                a {
                    color: rgba(255, 255, 255, 0.5);
                    text-decoration: none;
                    font-size: 18px;
                }
            }
        }
        .addres {
            margin-right: 100px;
            display: flex;
            flex-direction: column;
            p {
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: 0.01em;
                margin-bottom: 20px;
            }
            .follow__us {
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 27px;
                margin-bottom: 20px;
                color: #ffffff;
            }
            .social-media {
                margin-bottom: 20px;
            }
            img {
                margin-right: 10px;
            }
            .email-field {
                padding: 8px 0px 8px 20px;
                border-radius: 35px;
                background-color: #dadada;
                color: black;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 29px;
            }
        }
    }
    .footer {
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.01em;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        p {
            margin-bottom: 10px;
            margin-top: 10px;
            text-align: center;
        }
    }
}

@media (max-width: 660px) {
    .contacts {
        flex-direction: column;
        h3 {
            font-size: 30px !important;
        }
        .email-field {
            margin-bottom: 50px;
        }
        .follow__us {
            font-size: 16px !important;
        }
        .email-field {
            padding: 3px 0px 3px 10px !important ;
        }
    }
    img {
        margin-right: 0.1px !important ;
    }
}
